<div class="container pt-3">
    <div class="row">
      <div class="col-md-8">
        <div class="card-body">
          <h3 class="card-title text-center pb-2">ABOUT ME </h3>
          <p class="card-text" style="font-size: 18px; padding-left: 10%;">Mi nombre es Kleyner Vásconez soy un programador amante de la informática y de los videojuegos </p>
          <p class="card-text" style="font-size: 18px; padding-left: 10%;">Me gusta estudiar y estar al tanto de las nuevas tecnologías emergentes en base a la computación, vivo en la ciudad de Milagro en los que la misma formacion academicas las realice en la misma ciudad.</p>
          <p class="card-text" style="font-size: 18px; padding-left: 10%;">Actualmente me encuentro autopreparandome para no perder la practica y sigo con el paso de cada día especializandome y que a pesar de ser un jr en conocimientos espero algun día poder dominar una de las especialidades en el mundo de la programación</p>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <img class="perfil-img" src="assets/img/perfil.jpg"alt="">
        <a href="assets/Kleyner-Vasconez.pdf" download="Kleyner Vasconez" class="btn btn-warning btn-block">Descargar CV</a>
      </div>
    </div>
</div>